h1 {color: blue;}
h2 {font-size: 60px;}

#teste {font-size: 80px; color: blueviolet;}

.titulo {font-size: x-large; color: aqua;}

ol li {font-size: 30px;}
#testeborda {border:5px solid blue ;}
#testeborda1 {border-bottom:5px dotted blue ;}
#testeborda2 {border-top:5px dashed blue ;}
#testeborda3 {background-color: blue; border-radius:5px;}

div {background-color: green; width: 200px; height: 200px;
border-radius: 100px;
border:3px solid darkgreen;}

img{border: 5px solid black;}