body{
    background-color: black;
}

@media (min-width: 600px) and (max-width: 999px) {
    body{
        background-color: red;
    }
}

@media (max-width: 200px) {
    body{
        background-color: blue;
    }
}

@media only print {
    body{
        background-color: aquamarine;
        padding: 100px;
    }
}

.img1 {
    height: 500px;
    width: 500px;
    object-fit: contain;
}

