* {
    box-sizing: border-box;
}

body {
    margin: 50px;
    font-size: 17px;
}

p {
    color: blue;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
}

a {
    text-decoration: underline;
}

.texto1 {
    text-align: left;
    text-decoration: underline;
    color: brown;
}

.momo-signature-regular {
  font-family: "Momo Signature", cursive;
  font-weight: 400;
  font-style: normal;
}

table {
    width: 600px;
}

td, th{
    border: 1px solid black;
    text-align: center;
}

table thead{
    background-color: red;
}

table tbody{
    background-color: blue;
}

tbody :hover{
    color: aqua;
}

tbody tr:nth-child(even){
    background-color: blueviolet;
}
