label {
    display:block;
    margin-bottom: 20px;
}

input [type="text"], textarea{
    padding: 10px;
    width: 500px;
    font-size: 15px;
    border:1px solid grey;
    outline: 0;
    margin-top: 5px;
}

