body{
    display: flex;
}

div {
    width: 100px;
    height: 100px;
    border: 3px solid blue;
}

@media (orientation: landscape) {
    body{
        flex-direction:  row;
    }
}

@media (orientation: portrait) {
    body{
        flex-direction: column;
    }
}

@media (aspect-ratio: 2/1){
    body{
        background-color: blue;
    }
}

@media (aspect-ratio: 1/1){
    body{
        background-color: red;
    }
}

@media (aspect-ratio: 1/2){
    body{
        background-color: red;
    }
}