:root {
    --bg-color: black;
    --bg-second: grey;
    --font-color: purple;
    --font-size: 25px;
}

body{
    background-color: var(--bg-color);
    font-size: var(--font-size);
}

p{
    color: var(--font-color);
}

h1{
    color: white;  
}

.conteiner {
    background-color: var(--bg-second);
    color: var(--font-color);
}

@media (max-width: 450px) {
    :root {
        --font-size: 15px;
    }
}

.video{
    width: 600px;
}

.video-area{
    position: relative;
    height: 0;
    background-color: chartreuse;
    padding: 0px 0px 56.25% ;
}

.video-area iframe{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 0px;

}

