* {
    box-sizing: border-box;
}

.exemplo {border: 5px solid black;
padding: 10px;
margin: 10px;}

.exemplo1 {border: 5px solid black;
padding: 20px 50px 20px 50px;}

.exemplo2 {background-color: black;
width: auto;
height: 100px;}

#exemplo3 {
    width: 50%;
    height: 50%;
}

#exemplo4 {
    background-color: black;
    width: 100px;
    height: 100px;
    border: 5px solid blue;
    padding: 10px;
    margin: 5px;
}

.link {
    color: yellow;
    size: 10px;
}
